<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePathKeys" value="InputFilePath1,InputFilePath2,InputFilePath3"/>

    <add key="InputFilePath1" value=""/>
    <add key="InputFilePath1MoveTo" value=""/>
    <add key="InputFilePath1BackUpTo" value=""/>

    <add key="InputFilePath2" value=""/>
    <add key="InputFilePath2MoveTo" value=""/>
    <add key="InputFilePath2BackUpTo" value=""/>

    <add key="InputFilePath3" value=""/>
    <add key="InputFilePath3MoveTo" value=""/>
    <add key="InputFilePath3BackUpTo" value=""/>
    
    <add key="RefreshTimer" value="1"/>
    
  </appSettings>
</configuration>