<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusCopy\Input"/>
    <add key="OutPutFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusCopy\Output"/>
    <add key="BackUpFilePath" value="C:\Users\kumarkd\Desktop\Pavan\EBusCopy\BackUp"/>
    <add key="RefreshTimer" value="1"/>
  </appSettings>
</configuration>